body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 0.88rem;
  line-height: 1.8;
  font-weight: normal;
  /* background: #fafafa; */
  background: #fff;
  color: gray;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #3e64ff;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.heading-section small {
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  /* background: #3e64ff; */
  background: #2c3333;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 11;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active ul.components li {
  font-size: 14px;
}

#sidebar.active ul.components li a {
  padding: 10px 0;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

#sidebar.active .logo {
  padding: 10px 0;
}

#sidebar.active .footer {
  display: none;
}

#sidebar .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li > ul {
  margin-left: 10px;
}

#sidebar ul li > ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  #sidebar ul li a span {
    display: block;
  }
}

#sidebar ul li a:hover {
  color: #fff;
}

#sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}

@media (max-width: 991.98px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  #sidebar.active {
    margin-left: 0 !important;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

.footer {
  padding: 0 30px;
}

@media (max-width: 991.98px) {
  .footer {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.btn-primary {
  background: #3e64ff;
  border-color: #3e64ff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #3e64ff !important;
  border-color: #3e64ff !important;
}

/* Sidebar 3 */
/* Ini adalah Sidebar 3 dimana untuk membuat agar tetap jika bisa di rpaihkan di rapihkan */
#sidebar2 {
  min-width: 270px;
  max-width: 270px;
  /* background: #2C3333; */
  background: #fff;

  /* color: #fff; */
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 11;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.6);
}

#sidebar2.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

/* #sidebar2.active ul.components li {
  font-size: 14px;
} */

#sidebar2.active ul.components li a {
  padding: 10px 0;
}

/* #sidebar2.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
} */

/* #sidebar2.active .logo {
  padding: 10px 0;
}

#sidebar2.active .footer {
  display: none;
}

#sidebar2 .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar2 .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar2 ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar2 ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar2 ul li {
  font-size: 16px;
}

#sidebar2 ul li>ul {
  margin-left: 10px;
}

#sidebar2 ul li>ul li {
  font-size: 14px;
}

#sidebar2 ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar2 ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  #sidebar2 ul li a span {
    display: block;
  }
}

#sidebar2 ul li a:hover {
  color: #fff;
}

#sidebar2 ul li.active>a {
  background: transparent;
  color: #fff;
} */

@media (max-width: 991.98px) {
  #sidebar2 {
    /* min-width: 80px; */
    min-width: 250px;
    max-width: 80px;
    text-align: center;
    /* margin-left: -80px !important; */
    margin-left: 3px !important;
  }

  #sidebar2.active {
    margin-left: 0 !important;
  }
}

/* End Sidebar 2 */

/* SideBar 3 */

#sidebar3 {
  /* min-width: 270px; */
  min-width: 420px;
  max-width: 270px;
  background: #2c3333;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 11;
}

#sidebar3.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar3.active ul.components li {
  font-size: 14px;
}

#sidebar3.active ul.components li a {
  padding: 10px 0;
}

#sidebar3.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

#sidebar3.active .logo {
  padding: 10px 0;
}

#sidebar3.active .footer {
  display: none;
}

#sidebar3 .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar3 .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar3 ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar3 ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar3 ul li {
  font-size: 16px;
}

#sidebar3 ul li > ul {
  margin-left: 10px;
}

#sidebar3 ul li > ul li {
  font-size: 14px;
}

#sidebar3 ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar3 ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  #sidebar3 ul li a span {
    display: block;
  }
}

#sidebar3 ul li a:hover {
  color: #fff;
}

#sidebar3 ul li.active > a {
  background: transparent;
  color: #fff;
}

@media (max-width: 991.98px) {
  #sidebar3 {
    /* min-width: 80px; */
    min-width: 200px;
    max-width: 80px;
    text-align: center;
    /* margin-left: -80px !important; */
    margin-left: 3px !important;
  }

  #sidebar3.active {
    margin-left: 0 !important;
  }
}

.app-main-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 7;
  height: 60px;
}

@media (max-width: 992px) {
  .sidebar2mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .hidebtn {
    display: none;
  }
}

@media (min-width: 992px) {
  .btnkanan {
    margin-left: 20px;
  }
}

.app-header__logo .logo-src {
  height: 60px;
  width: 120px;
  background: url(https://cms.ptcs.co.id/assets/images/ptcs.png);
}

@media (max-width: 1200px) {
  .logo-src {
    display: none;
  }
}

.nav-pillsx .nav-link {
  /* background-color: #f2f2f2; */
  /* color: #333; */
  /* border-radius: 50px; */
  /* padding: 10px 20px; */
  /* margin-right: 10px; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  color: white;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navrounded {
  border-radius: 50px;
}

.jstree-anchor {
  font-size: 0.88rem;
}

.float {
  color: #000;
  position: absolute;
  width: 580px;
  /* height: 200px; */
  top: 110px;
  right: 88px;
  /* transform: translateX(900px); */
  /* background: #53b2a7; */
  /* transition-duration: 0.3s; */
  z-index: 3;
  display: none;
}

.float.active-float {
  transform: translateX(0px);
  display: block;

}

.float h3 {
  position: relative;
  padding: 35px 10px 10px 10px;
  text-align: center;
  background: #27897c;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.float h3 span {
  position: absolute;
  top: 5px;
  left: -5px;
  background: #fed364;
  font-size: 12px;
  padding: 5px 10px;
  color: #333;
}

.float p {
  margin: 0;
  padding: 20px 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: justify-content;
}

.float .event-details-btn {
  display: inline-block;
  background-color: #ff7651;
  text-align: center;
  width: 50%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  float: left;
}

.float .event-close-btn {
  display: inline-block;
  background-color: #333;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

table.dataTable td, table.dataTable th {
  font-size: 10px;
}

.custome-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  display: none;

}

.custome-scroll:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  display: block;

}

.custome-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
  display: none;

}

.custome-scroll:hover::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
  display: block;

}

.custome-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  display: none;
}

.custome-scroll:hover::-webkit-scrollbar-thumb {
  display: block;
}

.left-menu-active{
  background-color: gray;
}
.highlight { background-color: yellow }

.container {
  /* max-width: 1140px; */
  max-width: 1740px;
}